# Build artifacts
target/
.lein-failures
.lein-repl-history

# Compiled classes in resources
resources/puppetlabs/**/*.class
resources/locales.clj

# IDE / editor
.idea/
*.iml
.nrepl-port
.cpcache/
.clj-kondo/.cache/
.lsp/.cache/
